/* News */

.news p.back {
  padding: 20px 0;
  }
.news p.back a {
  font-weight: bold;
  color: #ff0002;
  }

.news p.more {
  padding: 0 0 20px 0;
  }
.news p.more a {
  font-weight: bold;
  color: #ff0002;
  }