/*@import url(http://fonts.googleapis.com/css?family=Petrona);*/
/*@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);*/
@import url(http://fonts.googleapis.com/css?family=Rosarivo);

* { margin: 0px; padding: 0px; }
html { width: 100%; height: 100%; }
body { 
  height: 100%;
  font-size: 92%;
  background: url(/static/img/background.jpg);
  position: center;
  background-size: cover;
  }
.listitem {
    color: #25406B;
    font-size: 1.1em;
    display: block;
    padding: 9px 0 9px 0;
    margin: 0px 0;
}
p, a, input, textarea, legend, label, span, font, li, td, th {
  font-family: 'Rosarivo', serif;
  font-size: 1.00em;
  text-decoration: none;
  color: #616161;
  }

h1, h2, h3 {
  font-family: 'Rosarivo', Book Antiqua, Palatino, serif;
  font-weight: normal;
  color: #335E87;
  padding: 0.4em 0 0.4em 36px;
  margin-bottom: 1.0em;
  letter-spacing: 0px;
  }
h1 {
  font-size: 2.2em;  
  color: #335E87;
  background: #8F986A;  
  color: #fff;
  background: #8F986A;
  /*background: url('../images/structure/bgH1.gif') repeat-x top #123163;*/
  border-bottom: solid 1px #eaeaea;
  padding-top: 62px;
  margin-top: 0;
  /*text-shadow: 1px 1px 1px #c7a73c;*/
  }
h2 {
  font-size: 1.3em;
  color: #335E87;
  border-bottom: solid 1px #d3deef;
  }
h2 a {
  color: inherit;
  }
h3 {
  font-size: 1.1em;
  color: #335E87;
  margin: 0;
  }
  
p { 
  line-height: 1.9em;
  padding-bottom: 15px;
  }
p a { 
  font-size: 1.0em;
  }
  
li { 
  line-height: 1.5em;
  padding-bottom: 8px;
  }

a img { border: none; }

.highlight{ }
.large { font-size: 1.1em; }
.small { font-size: 0.9em; }
.clear{ clear: both; }

.colWrap { display: table-row; }
.col{ display: table-cell; }



/*   Content   */

p.right {
  text-align: right;
  }
  
a:hover {
  color:red;
  text-decoration: none;
  }

img.bordered { 
	background:#fff;
	-moz-box-shadow: 0 0 5px 0 #888;
	-webkit-box-shadow: 0 0 5px 0 #888;
	box-shadow: 0 0 5px 0 #888;
	padding:7px;
	margin-bottom:10px;
  }
  



/*   Sidebar   */



/*   Header / Footer   */

#Logo {
  margin: 5px 10px 30px 20px;
  }
  
#Menu ul {
  list-style: none;
  margin: 20px;
  }
#Menu ul li {
  text-align: center;
  display: block;
  }
#Menu ul li a {
  color: #25406B;
  font-size: 1.1em;
  display: block;
  padding: 9px 0 9px 0;
  margin: 0px 0;
  }
#Menu ul li a:hover {
  background-color: #dedede;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #385f9c;
  }
#Menu ul li.selected a {
  /*background-color: #EDEEEF;*/
  }
#Menu ul li.hidden {
  display: none;
  }
#Menu ul.loginStatus {
  margin-top: 10px;
  padding-top: 10px;
  }

#Menu .separator {
  margin-top: 26px;
  text-align: center;
  }

#Social {
  padding: 26px 40px 0px 20px;
  border-top: solid 1px #fefefe;
  text-align: right;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.05));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.05));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.05));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,.05));
	background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.05));
  }
#Social p {
  font-size: 1.15em;
  color: #123163;
  }
#Social p a {
  color: #123163;
  }
#Social p a:hover {
  color: #385f9c;
  }
#Social a.social {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;  
  }
#Social a.social img {
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  }
#Social .separator {
  padding: 0 6px;
  color: silver;
  }

#Footer p {
  text-align: right;
  font-size: 0.8em;
  color: #fff;
  }



/*   Structure   */


#SiteWrapper {
  width: 1200px; min-height: 100%;
  margin: 0 auto;
  position: relative;
  }

#Menu {
  width: 304px;
  position: fixed;
  height: 100%;
  float: left;
  background-color: white;
  opacity: 0.8;
  }
  
#Body {
  width: 900px; min-height: 100%;
  background: url('../images/structure/bgBody.gif') #fefefe;
  margin-left: 304px;
  border-left: solid 1px #eee;
  position: absolute;
  }
  
#Content {
  /*padding: 38px 0px 20px 0px;*/
  padding: 0px 0px 20px 0px;
  }
#Content > p {
  padding-left: 36px;
  padding-right: 36px;
  }
#Content > ul {
  padding-left: 30px;
  padding-right: 46px;
  }
#Content > ol {
  padding-left: 36px;
  padding-right: 46px;
  }
#Content > div {
  margin-left: 36px;
  margin-right: 36px;
  }
  
#Col1 {
  width: 165px; min-height: 400px;
  padding: 20px;
  display: table-cell; 
  vertical-align: top;
  }
  
#Col2 {
  width: 500px; min-height: 400px;
  padding: 20px;
  display: table-cell; 
  vertical-align: top;
  }
  
#Background {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  }

#flyoutShadow { 
  width: 100%; height: 100%; display: none;
  position: fixed; top: 0px; left: 0px; z-index: 100;
  background: url('images/structure/shadow.png');
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/structure/shadow.png');  
  }
#flyoutContent {
  width: 440px;
  background-color: #fff;
  padding: 20px;
  margin-left: -220px;
  position: fixed; 
  top: 200px; left: 50%;
  display: none;
  z-index: 101;
  }
.flyoutRender {
  display: none;
  }